*.zip
*.csv
*.csv#
*.xlsx
*.sqlite*
*.ods
*.txt
*.html
*.odt
*.json
.ipynb_checkpoints/
pop_searches
lib/__pycache__
processed_csv/*
pdf_files/*
si_files/*
do_files/*
config/*
__pycache__/processing_functions.cpython-36.pyc
*.pyc
